.footer {
  display: flex;
  background-color: #bee6a8;
  color: #fea742;
  justify-content: space-between;
}

.social_icons {
  margin: 20px;
  vertical-align: middle;
}

.footer_title {
  margin-top: 20px;
  margin-right: 20px;
}

.first_icon {
  margin-right: 20px;
}

.second_icon {
  margin-right: 20px;
}
.third_icon {
  margin-right: 20px;
}
