.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-right: 1;
	background-color: 'white';
	/* max-width: 1300px !important; */
}

.signInButton {
	color: 'red';
}
.signUpButton {
	color: 'inherit';
}
.kdn_logo {
	display: flex;
	justify-content: flex-start;
	margin-right: 50px;
	background-color: rgb(24, 118, 209);
}

.logreg_buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.services {
	background-color: rgb(24, 118, 209);
	color: red;
	font-weight: 400;
	max-width: 400px;
}
