.wrapper {
  // margin-top: 20px !important;
  // width: 1400px;
  max-width: 89%;
  height: 400px !important;
  border: 2px solid #fbe7c2 !important;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.exmpl {
  overflow: hidden;
}
.exmpl img {
  width: auto;
  height: 100%;
}
