.appointContainer {
  position: relative;
}

.addAppoint {
  width: 900px;
  margin: auto;
}

.addAppoint .step {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.addAppoint .active,
.hidden {
  width: 300px;
  height: 50px;
  text-align: center;
  padding: 1em;
}

.addAppoint .active {
  border-bottom: 2px solid #82c832;
  color: #82c832;
}

.addAppoint .hidden {
  color: grey;
  opacity: 50%;
}

.addAppoint .choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addAppoint .doctorCard {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}

.doctorCard div {
  display: flex;
  flex-direction: column;
}

.doctorCard img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.addAppoint input,
select {
  background: #fff;
  padding: 0.7em;
  margin: 15px 0;
  width: 30%;
  outline: none;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}
.addAppoint input:focus,
select:focus {
  outline: none;
}
.addAppoint button {
  padding: 0.7em;
  border: 0;
  border-radius: 2px;
  background: #82c832;
  color: #fff;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
  transition: 1s;
}
.addAppoint button:hover {
  background: #ffa742;
  box-shadow: none;
}

.addAppoint .confirmButtons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.addAppoint .dateTime {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 50px;
}

.addAppoint .dateCh {
  width: 120px;
  height: 60px;
  background-color: rgb(183, 231, 57, 0.8);
  box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
  border-radius: 3px;
  border-top-right-radius: 10px;
  color: #fff;
}

.dateTimeOne {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.timeCh {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.timeCh div {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  transition: 1s;
}

.timeCh div:hover {
  border: 1px solid rgb(255, 167, 66, 0.5);
}

.dateChoose {
  width: 120px;
  height: 60px;
  background-color: rgb(255, 167, 66, 0.8);
  box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
  border-radius: 3px;
  border-top-right-radius: 10px;
  color: #fff;
}

.timeChoose {
  border: 2px solid rgb(255, 167, 66, 0.5);
  color: #ffa742;
}

.timeNone {
  border: 1px solid rgb(128, 128, 128, 0.5);
}

.confirmAppointBack {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.confirmAppoint {
  position: absolute;
  margin-top: 10%;
  margin-left: 40%;
  z-index: 10;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
}

.confirmAppoint h1 {
  font-size: 20px;
}

.confirmAppoint .dateTime {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
