a {
  text-decoration: none;
}

.auth_btns {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

// .navbar_btn {
//   display: flex;
//   max-width: 100%;
//   justify-content: space-between;
//   background-color: aqua;
// }
.container-fluid {
  display: flex !important;
  justify-content: space-between !important;
  max-width: 100%;
  background-color: #bee6a8 !important;
  height: 90px;
}
.dropdown-menu {
  background-color: #fbe7c2;
  font-size: 20px;
}

.navbar-brand {
  margin-left: 90px;
}
.nav-item {
  margin-right: 70px !important;
}

.lk_btn {
  margin-right: 150px !important;
}
